body {
    background-color: #fffafa;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 20px;
}

div {
    
}
/* ///////////Table Se/////////// */

table {
    border: double black 1px;
    border-radius: 10px;
    padding: 15px;
}

/* ///////Form Style///////// */

form {
    display:block;
    
    
}

.formStyle {
    line-break: normal;
    border:solid black 1px;
    border-radius: 10px;
    float: inherit;
    margin-right: 1200px;
    padding-left: 10px;
    
}

label {
    display:block;
    padding: 5px;
}

button {
    font-family: monospace;
    border-style: outset;
    background-color: darkblue;
    color: white;
}