body {
    background-color: #fffafa;
    text-align: center;

}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 20px;
}

p {
    position: absolute;
    top: 5%;
    right: 5%;
}
/* ///////////Table Se/////////// */

table {
    
    margin-top:100px;
    display: inline-block;
    border: double black 1px;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
    background-color: #ade0f5 ;
    margin:0px;
}
th, td {

}



/* ///////Form Style///////// */


.formStyle {
    background-color: #ade0f5 ;
    width: 400px;
    display: inline-block;
    line-break: normal;
    border:solid black 1px;
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

label {
    display:block;
    padding: 5px;
}

button {
    font-family: monospace;
    border-style: outset;
    background-color: darkblue;
    color: white;
}