/* ///////////// Header ///////////// */
body {
    background-color: #fffdf9;
   
}


h1 {
    font-family: 'Rammetto One', cursive;
    text-align: center;
}

header > nav {
    height: 6%;
    width: 100%;
    text-align: center;
    background-color: #beebe9;
    position: fixed;
    margin-top: -16px;
    
}


header > nav > a {
    font-family: 'Rammetto One', cursive;
    display: inline-block;
    margin: 20px;
    margin-top: 8px;
    margin-left: 60px;
    margin-right: 60px;
   
    
}

header > figure {
    text-align: center;
    padding-top: 100px;
         
}


/* ///////////////main/////////////////// */
main {
    text-align: center;
}

main > h2 {
    padding-top: 50px;
    margin-top: -50px;
    font-family: 'Rammetto One', cursive;
    text-align: center;
    margin: 40px;

}

#family {
    text-align: center;
    width: 400px;
}



#nav3 > article {
    margin: 40px;
    display: inline-block;
    vertical-align: middle;
    


}

#nav3 > article > h3 {
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
}

#nav3 > article > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article:nth-child(1) {
    border: 1px solid grey;
    border-radius: 5px;;
    width: 300px;
    padding: 10px;
}

article:nth-child(2) {
    border: 1px solid grey;
    border-radius: 5px;;
    width: 300px;
    padding: 30px;
}

article:nth-child(3) {
    border: 1px solid grey;
    border-radius: 5px;;
    width: 300px;
    padding: 10px;
}


/* ///////////Footer/////////////// */

p {
    white-space: pre-line;
}