/* ///////////// Header ///////////// */
body {
    width: 100%;
    background-color: #f0dedf;
    margin: 0px;
}

/* //////google fonts/////// */
h1 {
    color: #394645;
    font-family: 'Rammetto One', cursive;
    text-align: center;
}

header > nav {
    height: 6%;
    width: 100%;
    text-align: center;
    background-color: #ade0f5 ;
    position: fixed;
    margin-top: -16px;
    border-radius: 10px;
}


header > nav > a {
    font-family: 'Rammetto One', cursive;
    display: inline-block;
    margin: 20px;
    margin-top: 8px;
    margin-left: 60px;
    margin-right: 60px;
   
    
}

header > figure {
    text-align: center;
    padding-top: 100px;
         
}


/* ///////////////main/////////////////// */
main {
    text-align: center;
}

main > h2 {
    padding-top: 50px;
    margin-top: -50px;
    color: #394645;
    font-family: 'Rammetto One', cursive;
    text-align: center;
    margin: 40px;
}


#family {
    text-align: center;
    width: 400px;
    border-radius: 5px;
    border: 2px black solid;
}

#nav3 > article {
    margin: 40px;
    display: inline-block;
    vertical-align: middle;
}
/* ///////sans-serif font////// */
#nav3 > article > h3 {
    color: darkslategrey;
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
}

/* //////// serif font//////// */
#nav3 > article > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article:nth-child(1) {
    color: midnightblue;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}

main > img{
    border-radius: 5px;
    border: solid black 2px;
}

article:nth-child(2) {
    color: midnightblue;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    padding: 30px;

}


article:nth-child(2) > img {
    width: 280px;
    border-radius: 5px;
}


article:nth-child(3) {
    color: rgb(19, 19, 87);
    border: 1px solid grey;
    border-radius: 5px;;
    width: 300px;
    padding: 10px;
}

article:nth-child(3) > img {
    border-radius: 5px;
}

button {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

/* ///////////Footer/////////////// */

footer {
    width: 100%;
    background-color: #c3e2f0;
}

footer > h2 {
    padding-top: 20px;
}

hr {
border: dotted 5px #01968e;
position: relative;
z-index: 10px;
border-bottom: none;
}

footer > #nav4 {
    color: #394645;
    font-family: 'Rammetto One', cursive;
    text-align: center;
    margin-top: -11px;
}

footer > section {
    text-align: center;
}

footer > section >p {
    color: rgb(19, 19, 87);
    margin: 0px 30px;
    white-space: pre-line;
    display: inline-block;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

footer > section > p > img {
    width: 50px;
}